/* Write your CSS here */
.config-controller-bg-controller {
  height: 30%;
  background-color: #475569;
  background-size: cover;
  padding: 20px;
}

.control-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 30px;
}

.label-txt {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 14px;
  padding-left: 5px;
}

.input-cont {
  padding-bottom: 8px;
}
